﻿@model IEnumerable<ProductShop.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Index User</h2>

<div>

    <div>
        <table>
            <tr>
                <td>FirstName</td>
                <td>SecondName</td>
                <td>E-mail</td>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.SecondName</td>
                    <td>@user.Email</td>
                    <td>@Html.ActionLink("Edit", "EditUser", new { id = user.UserId })</td>
                    <td>delete</td>
                    <td>@Html.ActionLink("User Ord", "UserOrders", new { id = user.UserId })</td>
                </tr>

            }
        </table>
    </div>
    <div>@Html.ActionLink("Add", "EditUser")</div>
</div>