﻿@model ProductShop.Models.Product
@{
    var buttonName = @Model == null ? "Add" : "Edit";
    ViewBag.Title = "EditProduct";

}

<h2>EditProduct</h2>
@using (Html.BeginForm("EditProduct", "Products", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ProductId)
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
    </div>
    <div>
        @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price)
    </div>
    <div>
        @Html.LabelFor(m => m.ProductCreateDate)
        @Html.EditorFor(m => m.ProductCreateDate)
    </div>

    <div>
        <input type="submit" value="@buttonName" />
    </div>
}
