﻿@using ProductShop.Models
@model IEnumerable<ProductShop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>

    <div>
        <table>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Date</td>
            </tr>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>@product.ProductCreateDate</td>
                    <td>@Html.ActionLink("Edit", "EditProduct", new {id = product.ProductId})</td>
                    <td>delete</td>
                </tr>

            }
        </table>
    </div>
    <div>@Html.ActionLink("Add", "EditProduct")</div>
</div>


