﻿@using System.Web.Mvc.Html
@model ProductShop.Models.OrderViewModel
@{
    ViewBag.Title = "EditOrder";
}

<h2>EditOrder</h2>

@using (Html.BeginForm("EditOrder", "Orders", FormMethod.Post))
{
    <div>
        @Html.HiddenFor(m => m.Order.OrderId)
    </div>
    <div>
        @Html.LabelFor(m=>m.Order.ProductId)
        @Html.DropDownListFor(m => m.Order.ProductId, Model.ProductList)
    </div>
    <div>
        @Html.LabelFor(m => m.Order.UserId)
        @Html.DropDownListFor(m => m.Order.UserId, Model.UserList)
    </div>
    <div>
        @Html.LabelFor(m => m.Order.ProductCount)
        @Html.TextBoxFor(m => m.Order.ProductCount)
    </div>
    <div>
        <input type="submit" />
    </div>
}

