﻿@model IEnumerable<ProductShop.Models.Order>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Add", "EditOrder")

<div>
    <table>
        <tr>
            <td>product</td>
            <td>user</td>
            <td>count</td>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.Product.Description</td>
                <td>@item.User.FirstName </td>
                <td>@item.ProductCount</td>
                <td>@Html.ActionLink("Edit", "EditOrder", new { id = item.OrderId })</td>
                <td>delete</td>
            </tr>

        }
    </table>
</div>